In [1]:
import pandas as pd

In [4]:
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv

--2022-01-20 13:35:29--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.248.6
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.248.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125981363 (120M) [text/csv]
Saving to: ‘yellow_tripdata_2021-01.csv’

yellow_tripdata_202 100%[===================>] 120.14M  11.3MB/s    in 11s

2022-01-20 13:35:41 (10.5 MB/s) - ‘yellow_tripdata_2021-01.csv’ saved [125981363/125981363]

In [2]:
data = pd.read_csv('yellow_tripdata_2021-01.csv')

data.head()

/home/clx/miniconda3/envs/data-engineering-zoomcamp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [3]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(data, name = 'yellow_taxi_data', con = engine)) # convers dfs to DDL

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
data_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [8]:
data.head(n = 0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

In [9]:
from time import time

In [10]:
while True:
    tic = time()
    df = next(data_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    
    toc = time()
    
    print('inserted another chunk and took %.3f secods' % (toc-tic))

inserted another chunk and took 10.607 secods
inserted another chunk and took 11.060 secods
inserted another chunk and took 10.935 secods
inserted another chunk and took 10.819 secods
inserted another chunk and took 11.471 secods
inserted another chunk and took 12.753 secods
inserted another chunk and took 13.867 secods
inserted another chunk and took 11.407 secods
inserted another chunk and took 13.090 secods
inserted another chunk and took 11.985 secods
inserted another chunk and took 11.353 secods
inserted another chunk and took 11.079 secods

/home/clx/miniconda3/envs/data-engineering-zoomcamp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk and took 10.738 secods
inserted another chunk and took 7.071 secods

StopIteration: